body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  .add-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0 !important;
  }
  .customize-table{
    width: inherit;
    overflow-x: auto;
  }
  tbody td {
    text-align: center;
    button {
      margin-top: .5em;
    }
  }
  .pagination{
    justify-content: center;
  }
}
